{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes do Cliente</h3>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ object.client_name }}</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <td>CNPJ</td>
                            <td>Telefone</td>
                            <td>Adicionado em</td>
                            <td>Última Alteração</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ object.client_cnpj }}</td>
                            <td>{{ object.client_phone_number }}</td>
                            <td>{{ object.created_at }}</td>
                            <td>{{ object.updated_at }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'client_list' %}" class="btn btn-secondary mt-3">Voltar</a>
</div>

{% endblock %}
