{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Deletar Categoria</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja exclur a Categoria <strong>{{ object.category }}</strong></p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Deletar</button> 
            </form>

            <a href="{% url 'transaction_category_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
        </div>
    </div>
</div>

{% endblock %}