{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Cadastrar Novo Centro de Custo</h3>
    
    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Centro de Custo</button>
            </form>
        </div>
    </div>
    <a href="{% url 'cost_center_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
</div>

{% endblock %}